.desiredTemperature button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 10px #000;
}

.desiredTemperature button:active {
  box-shadow: 0 5px #000;
  transform: translateY(4px);
  transition: 0.1s;
}

.desiredTemperature button:focus {
  outline: none;
}

.thermostatContainer {
  width: 740px;
  margin: auto;
  max-width: 100%;
  text-align: center;
  background: #01279b;
  color: #fff;
  border: 10px solid #000;
  padding: 60px;
  border-radius: 25px;
}

span.fas.fa-angle-up {
  color: #01279b;
}

span.fas.fa-angle-down {
  color: #01279b;
}

li.set-temp-box {
  font-size: 36px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  text-transform: uppercase;
}

li.set-temp-box span:last-child {
  font-size: 48px;
}

.thermostatContainer h1 {
  border-bottom: 1px solid;
  padding: 20px;
  margin: 0;
}

.temperatures-container {
  display: flex;
  justify-content: center;
}

.temperatures-container ul {
  padding: 1em;
  list-style: none;
  font-size: 24px;
  width: 33.33%;
  border: 1px solid;
  margin: 0;
}

.desiredTemperature {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}
.desiredTemperature h2 {
  font-size: 24px;
  margin: 20px;
}

li.outside-temp {
  font-size: 24px;
  width: 40%;
  border: 2px solid;
  padding: 20px 10px;
  text-align: left;
}

li.arrow-container {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

li.inside-temp {
  font-size: 100px;
  width: 40%;
  border: 2px solid;
  border-left: 0;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2.section-header {
  text-transform: uppercase;
  font-weight: 100;
}

li.set-temp-box {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

li.set-temp-box span:first-child {
  padding-left: 5px;
  padding-right: 5px;
}

li.outside-temp .section-header {
  border-bottom: 1px solid;
  margin-bottom: 5px;
  margin-top: 40px;
}

h2.time-section,
h2.humidity-holder,
h2.thermostat-mode {
  margin-top: 0;
}

h2.dateTime {
  margin-bottom: 0;
}

span.set-to-temp {
  font-size: 36px;
}

.temperature-buttons-container button,
.fan-buttons-container button {
  padding: 25px;
  border: 1px solid;
}

.temperature-buttons-container {
  width: 50%;
}

.control-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

span.set-to {
  margin-top: 10px;
}

.thermostat-container,
.auto-container {
  background: #fff;
  margin-top: 30px;
  height: 60px;
  display: flex;
  width: 240px;
  position: relative;
  border-radius: 25px;
  border: 4px solid #fff;
}

.auto-container {
  width: 160px;
  margin-left: 50px;
}

.active-thermostat-mode,
.active-auto-mode {
  position: absolute;
  left: 80px;
  background: #01279b;
  height: 60px;
  width: 80px;
  z-index: 1000;
  border-radius: 25px;
  transition: 0.5s;
}

.thermostat-container button:hover,
.auto-container button:hover {
  transition: 0.5s;
  border: 3px solid #01279b;
}

button.first-button {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

button.last-button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.thermostat-container button,
.auto-container button {
  width: 80px;
  position: relative;
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 25px;
  border: 3px solid #fff;
}

i.fas.fa-fan {
  position: absolute;
  font-size: 19px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.thermostat-container button span,
.auto-container button span {
  position: absolute;
  bottom: -20px;
  font-size: 18px;
  color: #fff;
  left: 50%;
  transform: translate(-50%, 50%);
}

.controls-container {
  display: flex;
}

.active-auto-mode button {
  position: relative;
}

@media only screen and (max-width: 800px) {
  .thermostatContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .desiredTemperature {
    flex-direction: column;
  }

  li.set-temp-box button {
    border-radius: 25px;
  }

  .controls-container {
    display: flex;
    justify-content: center;
  }

  li.outside-temp,
  li.inside-temp,
  li.set-temp-box {
    width: 100%;
  }
}
